*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 700px;
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 30px;
}



/* .container{
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
} */


.pa{
   color: hsl(0, 0%, 55%);
   /* font-size: 40px; */
   padding-left: 10px; 
   padding-right: 15px;
   padding-top: 270px;
   padding-bottom: 120px;
   /* height: 390px;
   width: 1100px; */
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 5px;
   top: 20px;
   text-align: center;
   font-size: 19px;
}


ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
    display: flex;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li :hover{
	background-color: #fff;
	color: #000;
}

ul li .active {
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 155px;
	height: auto;
    margin-top: 25px;
    margin-left: 50px;
}

.toggler{
    width: 10px;
    margin-left: 50px;
    padding-top: -10px;
    display: none; 
}





.text{
    margin-top: 0px;
    margin-left: 300px;
    padding-top: 100px;
    /* border-bottom: 50px;
    border-width: thin medium thick -100px; */
    width: 600px;
    height: 50px;
}

h1{
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    font-family: "josefin sans";
    border: solid;
    font-size: 4rem;
    letter-spacing: 0.16rem;
    line-height: 7rem;
    border-width: thin;
}

.vr{
    margin-top: 400px;
    
}

#img-interactive{
    width: 700px;
    height: 550px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
}

.var{
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 500px;
    right: 10px;
    top: 900px;
    border: 3px solid hsl(0, 0%, 100%);
    position: absolute;
}

h2{
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    padding-top: 150px;
    position: absolute;
    padding-left: 250px;
    /* text-align: center; */
    color: black;
    padding-left: 90px;
    /* font-family: 'Alata', sans-serif; */
}

.part-3{
    margin-top: 900px;
    /* display: flex; */
}

.box-1{
    display: flex;
    gap: 20px;
    padding: 40px 30px;
    margin-left: 45px;
}

.box-2{
    display: flex;
    gap: 20px;
    padding: 40px 30px;
    margin-left: 45px;
}

.text-2{
    position: absolute;
    margin-top: -75px;

}

h3{
    padding-left: 50px;
    font-size: 3.2rem;
    line-height: 4.2rem;
}

button{
    position: absolute;
    width: 176px;
    height: 55px;
    left: 1080px;
    top: 5px;
    border-radius: 0px;
    border: ;
    background-color: hsl(0, 0%, 100%);
}

.footer{
    width: 100%;
    height: 145px;
    background-color: hsl(0, 0%, 0%);
    margin-top: 110px;
}

.icons{
    display: flex;
    margin-left: 980px;
}

.menu{
    display: flex;
    color: hsl(0, 0%, 100%);
    list-style: none;
    gap: 20px;
    margin-top: 20px;
    margin-left: 150px;
}

.loopstudio-rights{
    color: hsl(0, 0%, 55%);
    padding-left: 900px;
    padding-top: -55px;
    position: absolute;
}

.Logo-2{
    margin-top: 30px;
    margin-left: 50px;
    position: absolute;
    /* padding-left: 50px; */
}

  @media screen and (max-width: 768px) {
    header{
       background-image: url("../images/mobile/image-hero.jpg"); 
       background-size: cover;
       width: 100%;
       /* background: yellow; */
       display: inline-block;
    }
  
    /* .ul{
        display: none;
    } */

    .nav-bar{
        background: blue !important;
    }
    
    ul li a{
    color: yellow;
    display: none;
   }

    
    /* #img-toggler{
        display: inline-block;
        align-items: center;
        padding-top: 45px;

    } */

    .logo img{
        float: left;
        margin-left: 20px;
    }

    .toggler{
        display: block;
        color: brown;
        margin-left: 310px;
        margin-top: 10px;
        padding-top: 30px;
    }

    .text{
        margin-left: 25px;
        width: 300px;
    }

    h1{
        font-size: 15px;
        letter-spacing: 0.6rem;
        line-height: 50px;
    }

    #img-interactive{
        width: 290px;
        height: 350px;
    }

    .var{
        background-color: hsl(0, 0%, 100%);
        width: 293px;
        height: 300px;
        margin-top: 250px;
        margin-left: 50px;
        display: flex;
        margin-right: 50px;
        /* padding-left: 10px;  */
    }

    h2{
        font-size: 19px;
        line-height: 1.2rem;
        padding-top: 10px;
        padding-left: 10px;
    }

    .pa{
        font-family: 'Alata', sans-serif;
        font-size: 13px;
        width: 90%;
        text-align: center;
        padding-top: 30px;
        padding-left: -300px;
        margin-left: -10px;
    }

    .text-2{
        font-size: 16px;
    }

    h3{
        font-size: 19px;
    }

    button{
        position: absolute;
        margin-top: 1090px;
        margin-left: -1000px;
    }

    .box-1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
    }

    .box-2{
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 500px;
            margin-left: -20px;
        }
        
    }

    .img-deep img{
        width: 300px;
        height: 100px;
    }

    .img-night img{
        width: 300px;
        height: 100px;
    }

    .img-soccer img{
        width: 300px;
        height: 100px;
    }

    .img-grid img{
        width: 300px;
        height: 100px;
    }

    .img-above img{
        width: 300px;
        height: 100px;
    }

    .img-pocket img{
        width: 300px;
        height: 100px;
        margin-top: 135px;
        margin-left: -320px;
        position: absolute;
    }

    .img-curiosity img{
        width: 300px;
        height: 100px;
        margin-top: 300px;
        margin-left: -340px;
    }

    .img-fisheye img{
        width: 300px;
        height: 100px;
        margin-top: 600px;
        margin-left: -960px;

    }

    .footer{
        width: 100%;
        height: 345px;
        background-color: hsl(0, 0%, 0%);
        margin-top: -268px;
    }
    
    .menu{
        margin-top: 10px;
        padding-top: -10px;
        display: flex;
        flex-direction: column;
    }
    
    .icons{
        margin-left: 50px;
        margin-top: 220px;
        position: absolute;
    }
    
    .loopstudio-rights{
        margin-left: 50px;
        margin-top: 150px;
        color: yellow;
    }
 } 

